/* Color de fondo rojo Sefar */

:root {
  --main-bg-color: #093143;
}

.cfrSefar{
	background-color:#093143 !important;
	border: 0!important;
}

.cfrSefar:hover{
	background-color:#06C2CC !important;
	color:#093143 !important;
	border: 0!important;
}

.csrSefar{
	background-color:#A17F48 !important;
	color:rgba(255, 255, 255, 0.9); !important;
	border: 0!important;
}

.csrSefar:hover{
	background-color:#DBBA72 !important;
	border: 0!important;
}

/* Color de fondo amarillo Sefar */
.cfaSefar{
	background-color:#DBBA72 !important;
}

/* Color de fondo verde Sefar */
.cfvSefar{
	background-color:#A17F48 !important;
}

/* Color de fondo blanco */
.cfBlanco{
	background-color:white !important;
}

/* Color de fondo gris Sefar */
.cfgSefar{
	background-color:rgb(63,61,61) !important;
}

/* Color de texto rojo Sefar */
.ctrSefar{
	color:#093143 !important;
}

.cbgSefar{
	background-color:#093143 !important;
	color: rgba(255, 255, 255, .9);
}

.main-sidebar{
    background-color:#001B27 !important;
	color: rgba(255, 255, 255, .9);
}

.main-header{
    background-color:#093143 !important;
	color: rgba(255, 255, 255, 1)!important;
}

.nav-link .fas.fa-bars, .nav-link .far.fa-moon, .nav-link span{
    color:white !important;
}

.nav-link.active {
    background-color:#093143 !important;
    color: #ffffff!important;
}

.nav-link.active p{
    color: #ffffff!important;
}

.nav-link p{
    color: #c3c3c3!important;
}

.nav-treeview {
    background-color: rgba(255, 255, 255, 0.05)!important;
        border-radius: .25rem!important;
}

/* Color de texto amarillo Sefar */
.ctaSefar{
	color:rgb(247,176,52) !important;
}

/* Color de texto verde Sefar */
.ctvSefar{
	color:rgb(22,43,27) !important;
}

/* Color de texto gris Sefar */
.ctgSefar{
	color:rgb(63,61,61) !important;
}

/* Color de texto blanco */
.ctBlanco{
	color:white !important;
}
