* {margin: 0;padding: 0;}
body{background-image: url("images/fondo.jpg");}
.simple, .simple:hover{border: none; text-decoration: none;padding: 0; margin: 0;}
.m-img{padding: 0; margin: 0; position: absolute; overflow: hidden; left: 10px; top: 3px;}
.m-img-bis{padding: 0; margin: 0; position: absolute; overflow: hidden; left: 10px; top: 1px;}
.m-img-abl{padding: 0; margin: 0; position: absolute; overflow: hidden; left: 10px; top: 4px;}
.m-img-b{padding: 0; margin: 0; position: absolute; overflow: hidden; left: 0px; top: 0px; border: none; background-color: rgba(255,255,255,0);}
.m-img-b-bis{padding: 0; margin: 0; position: absolute; overflow: hidden; left: 2px; top: 17px; border: none; background-color: rgba(255,255,255,0);}
.m-img-b:hover, .m-img-b-bis:hover{opacity: 0.7;}
.m-img-i{padding: 0; margin: 0; position: absolute; overflow: hidden; right: 0px; top: 1px; border: none;}
.m-img-i-bis{padding: 0; margin: 0; position: absolute; overflow: hidden; right: 2px; top: 17px; border: none;}
.nombres{float:middle; font-size: 80%; width:100%; position:absolute; top:25%; font-family:Arial; text-align: center; font-weight: bold;}
.apellidos{float:middle; font-size: 80%; width:100%; position:absolute; top:40%; font-family:Arial; text-align: center; font-weight: bold;}
.texto{float:middle; font-size: 70%; width:100%; position:absolute; top:56%; font-family:Arial; text-align: center;}
.text-abuelo{float:middle; font-size: 65%; width:100%; position:absolute; top:58%; font-family:Arial; text-align: center;}
.nacimiento{float:middle; font-size: 75%; width:100%; position:absolute; top:69%; font-family:Arial; text-align: center; font-weight: bold;}
.nac-abuelo{float:middle; font-size: 70%; width:100%; position:absolute; top:69%; font-family:Arial; text-align: center; font-weight: bold;}
.nom-abuelo{float:middle; font-size: 75%; width:100%; position:absolute; top: 25px; font-family:Arial; text-align: center; font-weight: bold;}
.ape-abuelo{float:middle; font-size: 75%; width:100%; position:absolute; top: 42px; font-family:Arial; text-align: center; font-weight: bold;}
.nom-bisabuelo{float:middle; font-size: 70%; width:100%; position:absolute; top: 15px; font-family:Arial; text-align: center; font-weight: bold;}
.ape-bisabuelo{float:middle; font-size: 70%; width:100%; position:absolute; top: 28px; font-family:Arial; text-align: center; font-weight: bold;}
.nom-tatarabuelos{float:middle; font-size: 60%; width:100%; position:absolute; top: 0%; font-family:Arial; text-align: center; font-weight: bold;}
.ape-tatarabuelos{float:middle; font-size: 60%; width:100%; position:absolute; bottom: 0%; font-family:Arial; text-align: center; font-weight: bold;}
.vida{float:middle; font-size: 75%; width:100%; position:absolute; bottom:1%; font-family:Arial; text-align: center; font-weight: bold;}
.vid-abuelo{float:middle; font-size: 70%; width:100%; position:absolute; bottom: 1%; font-family:Arial; text-align: center; font-weight: bold;}
.vid-bisabuelo{float:middle; font-size: 70%; width:100%; position:absolute; bottom: 0px; font-family:Arial; text-align: center; font-weight: bold;}
.father-branch{position:absolute;z-index:0}
.mother-branch{position:absolute;z-index:0}
.first{position:absolute;left:0;top:0;bottom:0;width:50%}
.second{position:absolute;right:0;top:0;bottom:0;width:50%}
.father-branch .first{border-bottom:1px solid #000;border-right:1px solid #000}
.father-branch .second{border-top:1px solid #000}
.mother-branch .first{border-top:1px solid #000;border-right:1px solid #000}
.mother-branch .second{border-bottom:1px solid #000}

.caja_per{
    border: 1px solid rgb(22,43,27);
    width: 270px;
    height: 120px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.caja_abuelos{
    border: 1px solid rgb(22,43,27);
    width: 250px;
    height: 100px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.caja_bisabuelos{
    border: 1px solid #870021;
    border: 1px solid #68011A;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.caja_tatarabuelos{
    border: 1px solid rgb(22,43,27);
    width: 230px;
    height: 25px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.caja_per:hover, .caja_bis:hover, .caja_abuelos:hover, .caja_bisabuelos:hover, .caja_tatarabuelos:hover{
    box-shadow: 0 0 8px;
    background:#f3f0f0;
    opacity:97%;
}

.encabezado{
    float:middle;
    font-size: 100%;
    width:100%;
    line-height:30px;
    max-height:30px;
    position:absolute;
    top:0;
    color:#FFF5EE;
    font-family:Arial;
    background-color: rgb(22,43,27);
    letter-spacing:.15em;
    text-align: center;
    font-weight: bold;
}

.encabezado_abl{
    float:middle; /**/
    font-size: 90%;
    width:100%; /**/
    line-height:25px;
    max-height:25px;
    position:absolute;
    top:0;
    color:#FFF5EE;
    font-family:Arial;
    background-color: rgb(22,43,27);
    letter-spacing:.15em;
    text-align: center;
    font-weight: bold;
}

.encabezado_bis{
    float:middle;
    font-size: 70%;
    width:100%;
    line-height:15px;
    max-height:15px;
    position:absolute;
    top:0;
    color:#FFF5EE;
    font-family:Arial;
    background-color: rgb(22,43,27);
    letter-spacing:.15em;
    text-align: center;
    font-weight: bold;
}

.encabezado:hover, .encabezado_abl:hover, .encabezado_bis:hover{background-color: rgb(247,176,52);}

.pie{
    float:middle; /**/
    font-size:100%;
    width:100%; /**/
    line-height:30px;
    max-height:30px;
    position:absolute;
    bottom:0;
    color:#870021;
    font-family:Arial;
    background-color: #FFF2E4;
    letter-spacing:.15em;
    text-align: center;
}

.pie-abuelo{
    float:middle; /**/
    font-size:90%;
    width:100%; /**/
    line-height:25px;
    max-height:25px;
    position:absolute;
    bottom:0;
    color:#870021;
    font-family:Arial;
    background-color: #FFF2E4;
    letter-spacing:.15em;
    text-align: center;
}

#btn_flotante_ant {display: scroll; position: fixed; bottom:5%; left: 7px;}
#btn_flotante_sig {display: scroll; position: fixed; bottom:5%; right: 7px;}
#btn_flotante_home {display:scroll; position:fixed; top:1%; left:7px;}